version: "3"

services:
  mantium-db:
    container_name: mantium-db
    image: postgres:16-alpine
    volumes:
      - ./data/postgres-vol:/var/lib/postgresql/data
    environment:
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
    restart: unless-stopped

  mantium-api:
    container_name: mantium-api
    image: ghcr.io/diogovalentte/mantium-api:latest
    environment:
      - TZ=${TZ:-UTC}
      - POSTGRES_HOST=mantium-db
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}

      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - API_PORT=${API_PORT:-8080}

      - NTFY_ADDRESS=${NTFY_ADDRESS}
      - NTFY_TOPIC=${NTFY_TOPIC}
      - NTFY_TOKEN=${NTFY_TOKEN}

      - KAIZOKU_ADDRESS=${KAIZOKU_ADDRESS}
      - KAIZOKU_DEFAULT_INTERVAL=${KAIZOKU_DEFAULT_INTERVAL}
      - KAIZOKU_WAIT_UNTIL_EMPTY_QUEUES_TIMEOUT_MINUTES=${KAIZOKU_WAIT_UNTIL_EMPTY_QUEUES_TIMEOUT_MINUTES}
      - KAIZOKU_TRY_OTHER_SOURCES=${KAIZOKU_TRY_OTHER_SOURCES}

      - SUWAYOMI_ADDRESS=${SUWAYOMI_ADDRESS}
      - SUWAYOMI_USERNAME=${SUWAYOMI_USERNAME}
      - SUWAYOMI_PASSWORD=${SUWAYOMI_PASSWORD}

      - TRANGA_ADDRESS=${TRANGA_ADDRESS}
      - TRANGA_DEFAULT_INTERVAL=${TRANGA_DEFAULT_INTERVAL}

      - UPDATE_MANGAS_PERIODICALLY=${UPDATE_MANGAS_PERIODICALLY:-false}
      - UPDATE_MANGAS_PERIODICALLY_NOTIFY=${UPDATE_MANGAS_PERIODICALLY_NOTIFY:-false}
      - UPDATE_MANGAS_PERIODICALLY_MINUTES=${UPDATE_MANGAS_PERIODICALLY_MINUTES:-30}
      - ALLOWED_SOURCES=${ALLOWED_SOURCES:-} # Comma separated list of sources to be allowed to add mangas from. Defaults to all. Example: mangadex,comick,mangahub,mangaplus,mangaupdates,rawkuma,klmanga,jmanga
      - ALLOWED_ADDING_METHODS=${ALLOWED_ADDING_METHODS:-} # Comma separated list of adding mangas methods to show in the dashboard. Defaults to all. Example: Search,URL
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    # Port mapping if you want to use the dashboard iFrame
    # ports:
    #   - 8080:8080
    depends_on:
      - mantium-db
    restart: unless-stopped

  mantium-dashboard:
    container_name: mantium-dashboard
    image: ghcr.io/diogovalentte/mantium-dashboard:latest
    environment:
      - TZ=${TZ:-UTC}
      - DASHBOARD_PORT=${DASHBOARD_PORT:-8501}
      - API_ADDRESS=${API_ADDRESS:-http://mantium-api:8080}
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    ports:
      - 8501:8501
    depends_on:
      - mantium-api
    restart: unless-stopped
